@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.chart {
    font-family: 'Bebas Neue', cursive;
    /* color: lightslategray; */
}
.firstLine {
    display: flex;
    justify-content: space-around;
}
.recharts-wrapper {
    margin : 0 auto;
}
.redirect {
    font-family: 'Bebas Neue', cursive;
    font-size: 140%;
    cursor: pointer;
}
.redirect:hover {
    color: #25D366;
}
.authorChart {
    font-family: 'Varela Round', sans-serif;
    font-size: 80%;
}
.authorsChartH2 {
    font-family: 'Bebas Neue', cursive;
}
