@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Permanent+Marker&display=swap');
.searchContainer {
    position: relative;
}
input[type="search"] {
    
	display: block; 
    width: 100%; 
    font-family: 'Gloria Hallelujah', cursive;
	letter-spacing: 1px;        
	text-shadow: 0 0 2px black;       
    font-size: large;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    height: 25px;
}
input[type="submit"] {  
	display: block; 
    width: 50%; 
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 1px;     
	text-shadow: 0 0 2px black;       
    border: 1px solid aliceblue;
    border-radius: 100px;
    height: 25px;
    cursor: pointer;
}
input[type="submit"]:hover {  
    color: black;   
    border: 1px solid black;
    font-weight: 900;
	text-shadow: 0 0 2px white;       
}
.search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
}
.optionsSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    text-shadow: 0 0 0.5px black;
    width: 100%;
}
.optionLink {
    background-color: #25D366;
    color: black;
    margin: 5px auto;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-family: 'Permanent Marker', cursive;
}
.optionName {
    width: 90%;
}
.optionIconDiv {
    width: 10%;
    margin: 5px;
}
.optionIcon {
    width: 100%;
    border-radius:50%;
}