@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.linkId {
    margin: 40px auto;
    max-width: 800px;
    padding:10px;
    box-shadow: 0px 0px 10px;
    position: relative;
    background-color: white;
    font-size: 140%;
    font-family: 'Bebas Neue', cursive;
}
.footer {
    margin: 10px 0; 
    padding: 3px;
    background-color: #25D366;
}
.info {
    height: fit-content;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info div {
    margin: auto 1%;
}
.content {
    overflow-wrap: break-word;
    border: 2px solid #25D366;
    margin: 20px;
    padding: 20px;
}
.author {
    width: 33%;
    text-align: left;
}
.linkAtLinkId {
    color: #25D366;   
}
.linkDivision {
    border: 2px solid #25D366;
    margin: 20px;
    padding: 20px;
}
.authorAtLinkId {
    font-family: 'Varela Round', sans-serif;
}
.chatHistory {
    border: 2px solid #25D366;
    padding: 20px;
    margin: 20px;
}
.chatHistoryContent {
    display: flex;
    justify-content: space-between;
}
.chatHistoryDate {
    font-size: 70%;

}
.chatHistoryMessage {
    font-family: 'Varela Round', sans-serif;
    color: #25D366;
    font-size: 70%;
}
.chatHistoryAuthor {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 70%;
}
.title {
    font-size: 180%;
    color: black;
    background-color: #25D366;
    margin: 5% auto;
}